.meme-item-container {
  margin-bottom: 100px;
}

.meme-item-title {
  padding: 10px;
  font-size: 25px;
  background-color: #1f1f1f;
  display: block;
}

.meme-item-main-frame {
  margin-top: 2px;
  font-size: 17px;
  background-color: #1f1f1f;
}

.menu-main-main-info {
  padding: 5px;
}

.menu-main-main-info-author {
  color: #aa0000;
  padding: 0 5px;
}

.menu-main-main-info-date {
  display: inline-block;
  color: grey;
  padding: 0 5px;
}

.meme-main-image {
  width: 100%;
}

.menu-main-main-info-tags-item {
  padding: 0 5px;
  display: inline-block;
}

.meme-main-buttons {
margin-bottom: 5px;
}

.meme-main-button{

  padding: 10px 0;
  width: 50%;
  font-size: 30px;
  border: none;
  cursor: pointer;

  @media only screen and (max-width: 350px) {
    font-size: 20px;
    width: 100%;
  }
}


.meme-main-feedback-like {
  background-color: green;
}

.meme-main-feedback-dislike {
  background-color: #aa0000;
}

.meme-main-add{
  background-color: orange;
}

.meme-main-delete{
  background-color: orangered;
}
